<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="A wolff in love.">
    <meta name="keywords" content="javascript, frontend, code, tutorial, review, technology, writing, blog, personal, music" />
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' id='google-web-font-rock-salt-css'  href='http://fonts.googleapis.com/css?family=Rock+Salt' type='text/css' media='all' />
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    {% if PRODUCTION %}
      <link rel="stylesheet" href="/assets/main.css" />
    {% endif %}
  </head>
  <body>
    <div id="app">{{content | safe}}</div>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-12625863-1');ga('send','pageview');
    </script>

    {% if PRODUCTION %}
      <script src="/assets/main.js"></script>
    {% else %}
      <script src="http://localhost:8080/webpack-dev-server.js"></script>
      <script src="http://localhost:8080/assets/main.js"></script>
    {% endif %}

    <script type="text/javascript">
      var _sf_async_config={};
      _sf_async_config.uid = 47740;
      _sf_async_config.useCanonical = true;

      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
             (("https:" == document.location.protocol) ? "https://" : "http://") +
             "static.chartbeat.com/js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
           loadChartbeat : function() { try { oldonload(); } catch (e) { loadChartbeat(); throw e} loadChartbeat(); };
      })();
    </script>
  </body>
</html>
