@import "~src/styles/variables.less";

.blog-post {
  border: 1px solid #ccc;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: inherit;

  transition: 0.25s ease;
  transition-property: opacity background;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
    background: lighten(@backgroundColor, 20%);
  }
}

.blog-post + .blog-post {
  border-left: 0;
}

.blog-post-head {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

  .blog-title {
    flex-grow: 2;
  }

  .blog-date {
    font-size: 0.7rem;
  }

.blog-excerpt {
  display: none;
}